body {
    background-color: #141414;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 { color: #e50914; font-size: 3rem; }

.buscador-caja { margin: 30px 0; }

input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#resultado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.pelicula-card {
    background: #2f2f2f;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.pelicula-card:hover { transform: scale(1.05); }

.pelicula-card img {
    width: 100%;
    border-radius: 5px;
}